<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">auth_1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/profile">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Profile
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="friends">
                        <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Friends
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="chat">
                        <span class="bi bi-chat-dots-fill-nav-menu" aria-hidden="true"></span> Chat
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="api/logout" method="post">
                        <AntiforgeryToken />
                        <button type="submit" class="nav-link btn btn-link w-100 text-start">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout (@context.User.Identity?.Name)
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/register">
                        <span class="bi bi-person-plus-fill-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

