.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #6c757d;
}

.hover-row:hover {
    background-color: rgba(0,0,0,.05);
}


/* základ */
html, body {
    margin: 0;
}

.messenger-height {
    height: calc(100vh - 100px); /* prispôsob podľa výšky tvojho navbaru */
}

.scrollable-area {
    overflow-y: auto;
    flex-grow: 1;
}

.chat-bubble {
    max-width: 75%;
    padding: 8px 12px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.bubble-me {
    background-color: #0d6efd;
    color: white;
    align-self: flex-end;
}

.bubble-other {
    background-color: #e9ecef;
    color: black;
    align-self: flex-start;
}

.user-avatar-lg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}